{% extends 'layout/default.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
   
<div class="flex justify-center items-center">
    {{ form_start(registrationForm, {'attr':{ 'class':'center bg-white p-6 rounded-lg shadow-md'}}) }}
    <h1 class="text-center text-2xl">Inscription</h1>
    <div class="form-group p-4">
        <label class="block text-gray-700 font-medium mb-2" for="pseudo">Pseudo</label>
        {{ form_row(registrationForm.pseudo, {'label':false}, {'attr': {'class':"w-64 form-control border border-gray-400 p-2 rounded-lg w-full"}}) }} 
      </div>
      <div class="form-group p-4">
        <label class="block text-gray-700 font-medium mb-2" for="pseudo">Email</label>
        {{ form_row(registrationForm.email,  {'label':false}, {'attr': {'class':"w-64 form-control border border-gray-400 p-2 rounded-lg w-full"}}) }} 
      </div>
      <div class="form-group p-4">
        <label class="block text-gray-700 font-medium mb-2" for="pseudo">Mot de passe</label>
        {{ form_row(registrationForm.plainPassword,  {'label':false}, {'attr': {'class':"w-64 form-control border border-gray-400 p-2 rounded-lg w-full"}}) }} 
      </div>
    
    <div class="form-group p-4">
    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">S'inscrire</button>
    </div>

      {{form_row(registrationForm.createdAT)}}

    {{ form_end(registrationForm) }}
</div>
{% endblock %}
