{% extends "layout/default.html.twig" %}

{% block body %}

{{ form_start(addpost, {'attr':{ 'class':'md:w-1/2 lg:w-1/3 bg-white p-6 rounded-lg shadow-lg mx-auto'}}) }}

<h2 class="text-lg font-medium mb-4 text-blue-500">Ajouter un post</h2>
<div class="mb-4">
    <label class="block text-gray-700 font-medium mb-2" for="title">Titre</label>
    {{ form_row(addpost.titre, {'label':false}) }}
</div>
<div class="mb-4 ">
    <label class="block text-gray-700 font-medium mb-2" for="content">Description</label>
    {{ form_row(addpost.description, {'label':false}) }}
</div>


    {{form_row(addpost.createdAT,{'label':false})}}

<div class="mb-4">
    <button type='submit' class="bg-blue-500 text-white py-2 px-4 rounded-full hover:bg-blue-400">Poster</button>
</div>



{{ form_end(addpost) }}

{# {{form_start(addpost)}}
{{form_row(addpost.titre)}}
{{form_row(addpost.description)}}
<button type="submit">Poster</button>
{{form_end(addpost)}} #}

{% endblock %}